<style>
    h3 {
        color: #1a73e8;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 50px;
        /* Add margin to the top */
    }
</style>

<div class="col-md-6 offset-md-3">
    <h3> Add User </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Username</label>
            <input type="text" class="form-control" id="userName" [(ngModel)]="user.username" name="userName">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email">
        </div>

        <div class="form-group">
            <label> Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
        </div>

        <div class="form-group">
            <label for="myclient" class="text-primary">Select Role</label>
            <select class="form-control" [(ngModel)]="selectedRole" name="selectedRole">
              <option value="">Select</option>
              <option *ngFor="let item of roles" [ngValue]="item">{{ item }}</option>
            </select>
          </div>                   

        <button class="btn btn-success" type="submit" style="margin-top: 20px;">Submit</button>

    </form>
</div>