<div class="mt-1 mb-2 p-3 bg-primary text-white text-center">
  <h1>Book an Appointment</h1>
</div>

<div class="container">
  <div class="row">

    <div class="col-4">
      <label for="myclient" class="text-primary">Select City</label>
      <select class="form-control" (change)="getSpecializationsByCity()" [(ngModel)]="selectedCity">
        <option value="">Select</option>
        <option *ngFor="let item of cities" [ngValue]="item">{{ item.cityName }}</option>
      </select>
    </div>

    <div class="col-4">
      <label for="myclient" class="text-primary">Select Specialization</label>
      <select class="form-control" (change)="getRatingsBySpecialization()" [(ngModel)]="selectedSpecialization">
        <option value="">Select</option>
        <option *ngFor="let item of specializations" [value]="item">{{item}}</option>
      </select>
    </div>

    <div class="col-4">
      <label for="myclient" class="text-primary">Select Rating</label>
      <select class="form-control" (change)="getDoctorsBySpecializationAndCityAndRating()" [(ngModel)]="selectedRating">
        <option value="">Select</option>
        <option *ngFor="let item of ratings" [value]="item" [selected]="item === selectedRating">{{item}}</option>
      </select>
    </div>

    <div class="col-4">
      <label for="myclient" class="text-primary">Select Doctor</label>
      <select class="form-control" (change)="getTimeslotDateByDoctor()" [(ngModel)]="selectedDoctor">
        <option value="">Select</option>
        <option *ngFor="let item of doctors" [value]="item" [selected]="item === selectedDoctor">{{item.doctorName}}
        </option>
      </select>
    </div>

    <div class="col-4">
      <label for="myclient" class="text-primary">Select Date</label>
      <select class="form-control" (change)="getTimeslotTimeByDoctor()" [(ngModel)]="selectedTimeslotDate">
        <option value="">Select</option>
        <option *ngFor="let item of timeslotDates" [value]="item">{{item}}</option>
      </select>
    </div>

    <div class="col-4">
      <label for="myclient" class="text-primary">Select Time</label>
      <select class="form-control" [(ngModel)]="selectedTimeslotTime">
        <option value="">Select</option>
        <option *ngFor="let item of timeslotTimes" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>

  <button class="btn btn-success" type="button" style="margin-top: 20px;" (click)="onSubmit()">Submit</button>