<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="../assets/img/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Sign In</h3>
              <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
              <div class="form-group first">
                <label for="username">User Email</label>
                <input type="text" ngModel name="email" id="email" placeholder="Enter your email" class="form-control" required="true">

              </div>
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input type="password" ngModel name="password" id="password" placeholder="Enter your password" class="form-control" required="true">
                
              </div>
              

              <input type="submit" value="Log In" class="btn btn-block btn-primary">              
              
            </form>
            <span class="d-block text-left my-4 text-muted">&mdash; <a routerLink="/app-signup">Click Here</a> to Sign Up &mdash;</span>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>