  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to Fracto</h1>
      <h2>Join Fracto Diabetes Remision Program & lice a diabetes-free life.</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">
        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container">
      
              <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                  <div class="content">
                    <h3>Why Choose Fracto?</h3>
                    <p>
                        Very easy to book,maintain history. Hassle free from older versions of booking appointment via telephone..
                    </p>
                    <div class="text-center">
                      <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                  <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                      <div class="col-xl-4 d-flex align-items-stretch">
                        <div class="icon-box mt-4 mt-xl-0">
                          <i class="bx bx-receipt"></i>
                          <h4>Thousands of Doctors</h4>
                          <p>You can Choose your best doctor from your city</p>
                        </div>
                      </div>
                      <div class="col-xl-4 d-flex align-items-stretch">
                        <div class="icon-box mt-4 mt-xl-0">
                          <i class="bx bx-cube-alt"></i>
                          <h4>Online Booking</h4>
                          <p>Easy Online Booking</p>
                        </div>
                      </div>
                      <div class="col-xl-4 d-flex align-items-stretch">
                        <div class="icon-box mt-4 mt-xl-0">
                          <i class="bx bx-images"></i>
                          <h4>Easy Cancellation</h4>
                          <p>Cancel your appointmenta anytime!</p>
                        </div>
                      </div>
                    </div>
                  </div><!-- End .content-->
                </div>
              </div>
      
            </div>
          </section><!-- End Why Us Section -->
  </main>