<h2> Appointments </h2>
<table class = "table table-striped" *ngIf="appointments && appointments.length > 0">
    <thead>
        <tr>
            <th> Doctor </th>
            <th> Date </th>
            <th> Time </th>
            <th> Status </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let appointment of appointments">
            <td>{{ appointment.doctor.doctorName }}</td>
            <td>{{ appointment.timeslot.availableDate }}</td>
            <td>{{ appointment.timeslot.availableTime }}</td>
            <td>{{ appointment.status }}</td>
            <td>
                <button *ngIf="appointment.status !== 'Cancelled'" (click)="cancelAppointment(appointment.appointmentId)" class="btn btn-info"> Cancel</button>
            </td>
          </tr>
    </tbody>
</table>
<div *ngIf="!appointments || appointments.length === 0">No appointments available.</div>